{% extends 'base.html' %}

{% block content %}
    <div style="text-align: center; ">
        <h1 style="font-family: 'Do Hyeon', sans-serif;">
            STUDY LIST !!!
        </h1>
        <form action="/account/hello_world/" method="post">
            {% csrf_token %}
            <input type="text" name="hello_world_input">
            <input type="submit" class="btn btn-primary">
        </form>
        {% if hello_world_output %}
        <h1>
            {{ hello_world_output.text }}
        </h1>
        {% endif %}
        <h1>
            {{ text }}
        </h1>
    </div>
{% endblock %}